.day-tracker-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align title at the top of the page */
    padding-top: 20px; /* Adds 20px padding at the top */
    animation: fade-in 0.3s ease;
}

.day-tracker-title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px; /* Adds 10px margin at the top */
    margin-bottom: 20px; /* Adds 20px margin at the bottom */
}


@keyframes fade-in {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
}

.day-tracker-content {
    text-align: center;
}

.day-tracker-close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: #aaa;
    cursor: pointer;
    background: none;
    border: none;
}
.day-tracker-close-button:hover {
    color: #000;
}

.day-tracker-buttons-container {
    position: absolute;
    height: 50%;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: calc(100% - 120px); 
    overflow-y: auto; 
}

.day-tracker-button {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    background-color: transparent;
    color: #555;
    cursor: pointer;
    transition: all 0.3s ease;
}

.day-tracker-button:last-child {
    margin-bottom: 0;
}

.day-tracker-button:focus {
    outline: none;
}

.day-tracker-button.active {
    color: #000;
    border-bottom: 3px solid #0e8ac9;
    font-weight: bold;
}

.day-tracker-button:hover {
    border-bottom: 1px solid #0e8ac9;
    font-weight: bold;
}